[submodule "nft-manager-sol/lib/forge-std"]
	path = nft-manager-sol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-manager-sol/lib/openzeppelin-contracts"]
	path = nft-manager-sol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
